.booking-card {
 width:fit-content;
 border-radius: 4px;
 &:hover {
   border: 1px solid #ED8074;
 }
}

.dates {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-edit {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.booking-card-content {
  position: relative;
}
