.booking-card {
 width:fit-content;
 border-radius: 4px;
 &:hover {
   border: 1px solid #ED8074;
 }
}

.card {
  padding: 16px;
  display: flex;
  justify-content: left
}

.dates {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-edit {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.booking-card-content {
  position: relative;
}

.choices {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-item {
  width: 50%;
  color: black;
  display: flex;
  justify-content: center;
}

.nav-link {
  width: 100%;
  color: black
}

.text-green {
  color: green;
}
.text-red {
  color: red
}
.text-green {
  color: grey
}
