.booking-card {
 width: 400px;
 border-radius: 4px;
 &:hover {
   border: 1px solid #ED8074;
 }
}

.card {
  padding: 16px;
  display: flex;
  justify-content: left
}

.dates {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-edit {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.booking-card-content {
  position: relative;
}

.choices {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-item {
  width: 50%;
  color: black;
  display: flex;
  justify-content: center;
}

.nav-link {
  width: 100%;
  color: black
}

.text-green {
  color: green;
}
.text-red {
  color: red
}
.text-grey {
  color: grey
}

#green-check {
  color: green;
}

#red-check {
  color: red;
}

#profile-tab {
  color: #2B0548;
  &:hover {
    color: #ED8074;
  }
}

#home-tab {
  color: #2B0548;
   &:hover {
     color: #ED8074;
   }
}
