.banner {
  background-image: url('image_banner.png'), linear-gradient(rgba(252, 250, 250, 0.9),rgba(245, 242, 242, 0.9));
  background-size: cover;
  background-position: center bottom;
  height: 80vh;
  color: #2B0548;
  font-size: 30px;
  position: relative;
  .banner_opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.6);
  }
  .container {
    z-index: 2;
  }
}

.banner h1{
font-size: 45px;
}
