.banner {
  background-image: url('image_banner.png'), linear-gradient(transparent, gray);
  background-size: cover;
  background-position: center bottom;
  height: 75vh;
  color: #2B0548;
  font-size: 30px;
}

.banner h1{
font-size: 45px;

}
