.btn-orange {
  margin-left : 8px;
  background-color: #ED8074;
  border-radius : 20px;
  color: white;
  padding: 10px;
  &:hover {
    margin-left : 8px;
    background-color: #ED8074;
    border-radius: 20px;
    color: #2B0548;
  }
}

.btn-orange-reverse {
  margin-left : 8px;
  padding: 10px;
  background-color: none;
  border: 2px solid #ED8074;
  color: #ED8074;
  border-radius: 20px;
  &:hover {
    margin-left : 8px;
    color: #2B0548;
  }
};

.big-button {
  padding: 20px;
  border-radius: 30px;
  font-size: 20px;
}

.btn-button:hover {
  background-color: #ED8074;
  border-radius: 20px;
  color: #2B0548;
}

.icon-btn {
  font-size: 30px;
}
