.card-product {
  overflow: hidden;
  height: 80px;
  width: 40vw;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product h3 {
  font-size: 18px;
  font-weight: bolder;
}

.card-product .card-product-infos {
  padding: 16px;
}

.links {
  text-decoration: none;
  color: #2b0548
}

.card-trip {
  height: 100%;
  width: 80wv;

}

.carousel img {
    width: 80%;
    height: 70%;
  }
