h1, h2{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #2B0548;
}

.simple-form{
 color: #2B0548;
}

a {
color: #2B0548;
text-decoration : none;

}

a:hover{
  color: #ED8074;
  text-decoration: none;
  }

.linup {
  border-top: 1px solid #2B0548
}
