h2{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2B0548;
}

.simple-form{
 color: #2B0548;
}

a {
color: #2B0548;
text-decoration : none;

}

a:hover{
  color: #ED8074;
  text-decoration: none;
  }
