.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar {
  // height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999;
}

.dropdown-item {
  font-family: "Shippori Antique B1", sans-serif;
}

.collapse {
  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
