.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999;
}

.dropdown-item {
  font-family: "Shippori Antique B1", sans-serif;
}

.collapse {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

// #btn-ghost {
//   color: #fdfbfb;
//   border: 1px solid #4A4A4A;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
// }

// #btn-ghost:hover {
//   opacity: 1;
// }
